# ======================
# Java build files
# ======================
*.class
*.log

# ======================
# Maven
# ======================
target/
!.mvn/wrapper/maven-wrapper.jar

# ======================
# IntelliJ IDEA
# ======================
.idea/
*.iml
out/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# Environment
# ======================
.env
**/application-local.yml